header{
  padding: 15px;
  background-color: white;
  opacity: 0.7;
  color: darkslategray;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 3px darkslategray;
}
#subtitle{
  font-size: 12pt;
}
#title{
  font-size: 20pt;
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  #title{font-size: 24pt}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  #title{font-size: 28pt}
}
